<div>
  <h3>Mecanismos de interpolacion</h3>
  <p>Tu nombre es {{nombre}}</p>
  <p>Edad: {{edad}}</p>
  <p>Sueldo: {{sueldos}}</p>
  <p>Fumador: {{esFumador()}}</p>
    
</div>
<div>
  <h3>Directiva *ngIf</h3>
  <p *ngIf="edad>=18; else menor ">Eres mayor de edad</p>
  <!-- <p *ngIf="edad<18">Eres menor de edad</p> -->
  <ng-template #menor><p>Eres menor de edad</p></ng-template>
</div>
<div>
  <h3>Directiva *ngFor</h3>
  <h4>Con una lista</h4>
  <ul>
    <li *ngFor="let sueldo of sueldos">{{sueldo}}</li>
  </ul>

  <h4>Con un select</h4>
  <select name="" id="">
    <option *ngFor="let prov of provincias" value="{{prov.id}}">{{prov.nombre}}</option>
  </select>

  <h4>Tabla provincias</h4>
  <table border="1">
    <tr><th>ID</th><th>Nombre</th></tr>
    <tr *ngFor="let prov of provincias"><td>{{prov.id}}</td><td>{{prov.nombre}}</td></tr>
  </table>
</div>

<div>
  <h3>Captura de eventos</h3>
  <button (click)="diHola()" type="button">Di Hola</button>
  <br><br>
  <h4>Contador</h4>
  {{contador}}
  <button (click)="decrementar()" type="button">-</button>
  <button (click)="incrementar()" type="button">+</button>
</div>


<div>
  <h3>Directiva *ngModel</h3>
  <input type="text" [(ngModel)]="nombre" name="" id="">
</div>

